<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Products</title>
    <link rel="icon" type="image/x-icon" href="../ico.ico"> 
    <link href="../css/com.css" rel="stylesheet" />
    <script src="../support/angular.min.js"></script>
    <script src="./Products.js?t=5500"></script>

</head>

<body ng-app="RMSApp" ng-cloak ng-controller="HomeCtrl">
    <div class="card">
        <strong>Add Or Edit Products</strong>

        <div></div>
        <div class="row">
            <div class="column">
                <div class="input-group">
                    <span class="input-group-addon">
                        Category
                    </span>
                    <select ng-model="cat" style="text-align:center !important;" ng-change="cat_change()">
                        <option ng-repeat="e in cat_lst" value="{{e.sysID}}">{{e.n}}</option>
                    </select>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        Name
                    </span>
                    <input type="text" ng-model="n" style="text-align:center !important;">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        Print Name
                    </span>
                    <input type="text" ng-model="pn" style="text-align:center !important;">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        Cost Price
                    </span>
                    <input type="text" ng-model="cp" style="text-align:center !important;">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        Sale Price
                    </span>
                    <input type="text" ng-model="sp" style="text-align:center !important;">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        Discount
                    </span>
                    <input type="number" ng-model="dis" style="text-align:center !important;">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        Stocks
                    </span>
                    <select ng-model="stb" style="text-align:center !important;">
                        <option value="1">On</option>
                        <option value="2">Off</option>
                    </select>
                </div>

                <div class="input-group">
                    <span class="input-group-addon">
                        Status
                    </span>
                    <select ng-model="s" style="text-align:center !important;">
                        <option value="1">On</option>
                        <option value="2">Off</option>
                    </select>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        Location
                    </span>
                    <select ng-model="lo" style="text-align:center !important;">
                        <option value="1">Kitchen</option>
                        <option value="2">Liquor bar</option>
                        <option value="3">Coffee bar</option>
                    </select>
                </div>
                <div style="text-align:center; width:100%;color:red;padding:5px;" ng-show="msg_d">
                    {{msg}}
                </div>
                <div class="input-group">
                    <button style="margin-left:120px;" class="bnt_g" ng-disabled="n == '' || n == null || n.length < 3" ng-click="change()">{{btn_txt}}</button>
                    <button style="margin-left:10px;" class="bnt_o" ng-click="new_data()">New</button>
                </div>


                <!--<div class="input-group">
        <span class="input-group-addon">
            Name
        </span>
        <input type="text" value="4.99">
        <button>Go</button>
    </div>-->


            </div>
            <div class="column">

                <div class="input-group" style="margin-bottom:5px;">
                    <span class="input-group-addon">
                        Search
                    </span>
                    <input type="text" ng-model="sarch" style="text-align:center !important;">
                </div>

                <table class="fl-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Status</th>
                            <th>Discount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ee in pro_lst | filter:sarch | filter:n " ng-click="view(ee)">
                            <td>{{ee.n}}</td>
                            <td>{{ee.sp}}</td>
                            <td>{{ee.si}}</td>
                            <td>{{ee.dis}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

       

        <!--<p>W <strong>Glassmorphism UI design</strong> trend.</p>
        <p class="card-footer">Created by Rahul C.</p>-->
    </div>

</body>

</html>