 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    
    <link rel="icon" type="image/x-icon" href="./ico.ico">
    <link href="css/site.css" rel="stylesheet" />
    <script src="./support/angular.min.js"></script>
    <script src="./angi/Login.js?t=3251"></script>

</head>

<body  ng-app="RMSApp" ng-cloak ng-controller="HomeCtrl">
    <div class="login-page">
        <div class="form">
           
            <form class="login-form">
                <h2>WELCOME</h2>
                <input type="text" ng-model="un" placeholder="username" />
                <input type="password" ng-model="pw" placeholder="password" />
                <p ng-show="pw_worng" style="color:red;font-weight:bolder;">Invalid Username Or Password</p>
                <button type="button" ng-click="login_call()">login</button>
                
            </form>
        </div>
    </div>
    
</body>

</html>