 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="./ico.ico">
    <link href="css/site.css" rel="stylesheet" />
    <script src="./lib/signalr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrsasign/11.1.0/jsrsasign-all-min.js"></script>
    <script src="support/qz-tray.js"></script>

    <script src="./support/angular.min.js"></script>
    <script src="./test.js?t=1515158780"></script>
    <script src="support/print.js"></script>

</head>

<body ng-app="RMSApp" ng-cloak ng-controller="HomeCtrl" id="body">
    <button type="button" ng-click="pp()">print</button>
    <button type="button" ng-click="print_new()">print</button>

    
</body>

</html>